USE [master]
GO
/****** Object:  Database [Personnel]    Script Date: 2022-07-26 2:41:20 AM ******/
CREATE DATABASE [Personnel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Personnel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Personnel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Personnel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Personnel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Personnel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Personnel]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 2022-07-26 2:41:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[empID] [int] NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[position] [nvarchar](max) NOT NULL,
	[hourlyRate] [int] NULL,
 CONSTRAINT [empID] PRIMARY KEY CLUSTERED 
(
	[empID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Employee] ([empID], [name], [position], [hourlyRate]) VALUES (1, N'Arman', N'Software Engineer', 19)
INSERT [dbo].[Employee] ([empID], [name], [position], [hourlyRate]) VALUES (2, N'Sharan', N'Senior Developer', 30)
INSERT [dbo].[Employee] ([empID], [name], [position], [hourlyRate]) VALUES (3, N'LakshmiPriya', N'IT Executive', 40)
GO
USE [master]
GO
